In [1]:
import pandas as pd ,numpy as np

In [2]:
from platform import python_version

print(python_version())

3.6.13

In [3]:
import re

In [4]:
import tensorflow as tf
from tensorflow import keras

D:\anaconda\envs\tf_gpu\lib\site-packages\tensorflow\python\framework\dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
D:\anaconda\envs\tf_gpu\lib\site-packages\tensorflow\python\framework\dtypes.py:524: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
D:\anaconda\envs\tf_gpu\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
D:\anaconda\envs\tf_gpu\lib\site-packages\tensorflow\python\framework\dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
D:\anaconda\envs\tf_gpu\lib\site-packages\tensorflow\python\framework\dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
D:\anaconda\envs\tf_gpu\lib\site-packages\tensorflow\python\framework\dtypes.py:532: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [5]:
data = pd.read_csv(r'D:\Documents\ML\Sentiment_analysis\data.csv')

In [6]:
data.head(10)

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses
5,5,1080,49,Not for the very petite,"I love tracy reese dresses, but this one is no...",2,0,4,General,Dresses,Dresses
6,6,858,39,Cagrcoal shimmer fun,I aded this in my basket at hte last mintue to...,5,1,1,General Petite,Tops,Knits
7,7,858,39,"Shimmer, surprisingly goes with lots","I ordered this in carbon for store pick up, an...",4,1,4,General Petite,Tops,Knits
8,8,1077,24,Flattering,I love this dress. i usually get an xs but it ...,5,1,0,General,Dresses,Dresses
9,9,1077,34,Such a fun dress!,"I'm 5""5' and 125 lbs. i ordered the s petite t...",5,1,0,General,Dresses,Dresses

In [7]:
a = data["Rating"].value_counts()
#a[5] + a[4]
a

5    13131
4     5077
3     2871
2     1565
1      842
Name: Rating, dtype: int64

In [8]:
a[3]+a[2]+a[1]

5278

In [9]:
data['sentiment'] = ['pos' if (x>3) else 'neg' for x in data['Rating']]

In [10]:
data.head(10)

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,sentiment
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates,pos
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses,pos
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses,neg
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants,pos
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses,pos
5,5,1080,49,Not for the very petite,"I love tracy reese dresses, but this one is no...",2,0,4,General,Dresses,Dresses,neg
6,6,858,39,Cagrcoal shimmer fun,I aded this in my basket at hte last mintue to...,5,1,1,General Petite,Tops,Knits,pos
7,7,858,39,"Shimmer, surprisingly goes with lots","I ordered this in carbon for store pick up, an...",4,1,4,General Petite,Tops,Knits,pos
8,8,1077,24,Flattering,I love this dress. i usually get an xs but it ...,5,1,0,General,Dresses,Dresses,pos
9,9,1077,34,Such a fun dress!,"I'm 5""5' and 125 lbs. i ordered the s petite t...",5,1,0,General,Dresses,Dresses,pos

In [11]:
data = data[['Review Text' ,'sentiment' ]]

In [12]:
data.head(10)

                                         Review Text sentiment
0  Absolutely wonderful - silky and sexy and comf...       pos
1  Love this dress!  it's sooo pretty.  i happene...       pos
2  I had such high hopes for this dress and reall...       neg
3  I love, love, love this jumpsuit. it's fun, fl...       pos
4  This shirt is very flattering to all due to th...       pos
5  I love tracy reese dresses, but this one is no...       neg
6  I aded this in my basket at hte last mintue to...       pos
7  I ordered this in carbon for store pick up, an...       pos
8  I love this dress. i usually get an xs but it ...       pos
9  I'm 5"5' and 125 lbs. i ordered the s petite t...       pos

In [13]:
data.rename(columns = {"Review Text" : "text"} ,inplace =True)

In [14]:
data.head(10)

                                                text sentiment
0  Absolutely wonderful - silky and sexy and comf...       pos
1  Love this dress!  it's sooo pretty.  i happene...       pos
2  I had such high hopes for this dress and reall...       neg
3  I love, love, love this jumpsuit. it's fun, fl...       pos
4  This shirt is very flattering to all due to th...       pos
5  I love tracy reese dresses, but this one is no...       neg
6  I aded this in my basket at hte last mintue to...       pos
7  I ordered this in carbon for store pick up, an...       pos
8  I love this dress. i usually get an xs but it ...       pos
9  I'm 5"5' and 125 lbs. i ordered the s petite t...       pos

In [15]:
data["text"]

0        Absolutely wonderful - silky and sexy and comf...
1        Love this dress!  it's sooo pretty.  i happene...
2        I had such high hopes for this dress and reall...
3        I love, love, love this jumpsuit. it's fun, fl...
4        This shirt is very flattering to all due to th...
                               ...
23481    I was very happy to snag this dress at such a ...
23482    It reminds me of maternity clothes. soft, stre...
23483    This fit well, but the top was very see throug...
23484    I bought this dress for a wedding i have this ...
23485    This dress in a lovely platinum is feminine an...
Name: text, Length: 23486, dtype: object

In [16]:
data['text'] = data['text'].apply((lambda x: re.sub('[^a-zA-z0-9\s]','',str(x))))

In [17]:
data.head(10)

                                                text sentiment
0  Absolutely wonderful  silky and sexy and comfo...       pos
1  Love this dress  its sooo pretty  i happened t...       pos
2  I had such high hopes for this dress and reall...       neg
3  I love love love this jumpsuit its fun flirty ...       pos
4  This shirt is very flattering to all due to th...       pos
5  I love tracy reese dresses but this one is not...       neg
6  I aded this in my basket at hte last mintue to...       pos
7  I ordered this in carbon for store pick up and...       pos
8  I love this dress i usually get an xs but it r...       pos
9  Im 55 and 125 lbs i ordered the s petite to ma...       pos

In [18]:
for idx,row in data.iterrows():
    row[0] = row[0].replace('rt',' ')

In [19]:
#data['text'] = [x.encode('UTF-8') for x in data['text']]

In [20]:
data.head(10)

                                                text sentiment
0  Absolutely wonderful  silky and sexy and comfo...       pos
1  Love this dress  its sooo pretty  i happened t...       pos
2  I had such high hopes for this dress and reall...       neg
3  I love love love this jumpsuit its fun fli y a...       pos
4  This shi  is very flattering to all due to the...       pos
5  I love tracy reese dresses but this one is not...       neg
6  I aded this in my basket at hte last mintue to...       pos
7  I ordered this in carbon for store pick up and...       pos
8  I love this dress i usually get an xs but it r...       pos
9  Im 55 and 125 lbs i ordered the s petite to ma...       pos

In [21]:
tokenizer = keras.preprocessing.text.Tokenizer(num_words = 2500 ,lower =True ,split =' ')

In [22]:
data['text'].values

array(['Absolutely wonderful  silky and sexy and comfo able',
       'Love this dress  its sooo pretty  i happened to find it in a store and im glad i did bc i never would have ordered it online bc its petite  i bought a petite and am 58  i love the length on me hits just a little below the knee  would definitely be a true midi on someone who is truly petite',
       'I had such high hopes for this dress and really wanted it to work for me i initially ordered the petite small my usual size but i found this to be outrageously small so small in fact that i could not zip it up i reordered it in petite medium which was just ok overall the top half was comfo able and fit nicely but the bottom half had a very tight under layer and several somewhat cheap net over layers imo a major design flaw was the net over layer sewn directly into the zipper  it c',
       ...,
       'This fit well but the top was very see through this never would have worked for me im glad i was able to try it on in the store and didnt order it online with different fabric it would have been great',
       'I bought this dress for a wedding i have this summer and its so cute unfo unately the fit isnt perfect the medium fits my waist perfectly but was way too long and too big in the bust and shoulders if i wanted to spend the money i could get it tailored but i just felt like it might not be wo h it side note  this dress was delivered to me with a nordstrom tag on it and i found it much cheaper there after looking',
       'This dress in a lovely platinum is feminine and fits perfectly easy to wear and comfy too highly recommend'],
      dtype=object)

In [23]:
#data['text'] = [x.decode('UTF-8') for x in data['text']]

In [24]:
data['text'].str.count('')

0         52
1        291
2        486
3        115
4        186
        ...
23481    129
23482    212
23483    201
23484    414
23485    107
Name: text, Length: 23486, dtype: int64

In [25]:
tokenizer.fit_on_texts(data['text'].values)

In [26]:
len(tokenizer.word_index)

19853

In [27]:
X = tokenizer.texts_to_sequences(data['text'].values)

In [28]:
X = keras.preprocessing.sequence.pad_sequences(X)

In [29]:
X[:10]

array([[   0,    0,    0, ...,    3,   62,   58],
       [   0,    0,    0, ...,    6,  757,   95],
       [   0,    0,    0, ...,  466,    5,  938],
       ...,
       [   0,    0,    0, ..., 1363, 1678,   22],
       [   0,    0,    0, ..., 1329,   12,  135],
       [   0,    0,    0, ...,    1,   44,  270]])

In [30]:
X.shape

(23486, 114)

In [31]:
data.shape

(23486, 2)

In [32]:
embed_dim = 128
lstm_out = 200
batch_size = 32

model = keras.Sequential()
model.add(keras.layers.Embedding(2500, embed_dim,input_length = X.shape[1]))
model.add(keras.layers.LSTM(lstm_out ,dropout =0.2))
model.add(keras.layers.Dense(2,activation='softmax'))
model.compile(loss = 'categorical_crossentropy', optimizer='adam',metrics = ['accuracy'])
print(model.summary())

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 114, 128)          320000
_________________________________________________________________
lstm (LSTM)                  (None, 200)               263200
_________________________________________________________________
dense (Dense)                (None, 2)                 402
=================================================================
Total params: 583,602
Trainable params: 583,602
Non-trainable params: 0
_________________________________________________________________
None

In [33]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 114, 128)          320000
_________________________________________________________________
lstm (LSTM)                  (None, 200)               263200
_________________________________________________________________
dense (Dense)                (None, 2)                 402
=================================================================
Total params: 583,602
Trainable params: 583,602
Non-trainable params: 0
_________________________________________________________________

In [ ]:
from sklearn.model_selection import train_test_split
Y = pd.get_dummies(data['sentiment']).values
X_train, X_valid, Y_train, Y_valid = train_test_split(X,Y, test_size = 0.20, random_state = 36)

#Here we train the Network.

model.fit(X_train, Y_train, batch_size =batch_size, nb_epoch = 1,  verbose = 5)

WARNING:tensorflow:The `nb_epoch` argument in `fit` has been renamed `epochs`.

D:\anaconda\envs\tf_gpu\lib\site-packages\tensorflow\python\ops\gradients_impl.py:112: UserWarning: Converting sparse IndexedSlices to a dense Tensor of unknown shape. This may consume a large amount of memory.
  "Converting sparse IndexedSlices to a dense Tensor of unknown shape. "

Epoch 1/1

In [ ]:
score ,acc = model.evaluate(X_train ,Y_train ,verbose =2 ,batch_size =batch_size)
print(score,acc)